<section class="quote-hero" style="background: linear-gradient(rgba(0, 74, 173, 0.85), rgba(0, 74, 173, 0.85))!important;
  padding: 5rem 0;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  margin-bottom: -50px;">
  <div class="container py-5 text-center text-white" >
    <h1 class="display-4 fw-bold mb-3 mt-5" data-aos="zoom-in">Cotización <span class="intelliSoft">IntelliSoft</span></h1>
    <p class="lead mb-4" data-aos="zoom-in">Completa el formulario y recibirás una propuesta personalizada</p>
  </div>
</section>

