<nav class="navbar navbar-expand-lg fixed-top p-1 navbar-scroll" id="mainNavbar" [class.scrolled]="scrolled">
  <div class="container-fluid ps-2 pe-3">
    <a class="navbar-brand mt-1" href="/admin/dashboard">
      <img src="img/logo_1.jpg" height="60" alt="IntelliSoft" loading="lazy" rel="preload"
        style="margin-top: -7px; border-radius: 15px 15px 15px 15px" />
    </a>

    <!-- Botón hamburguesa para móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="d-flex justify-content-between w-100 align-items-center">
        <!-- Menú de navegación -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-scroll-container flex-nowrap overflow-auto">
          <li class="nav-item me-2">
            <a class="nav-link text-dark text-scroll" routerLink="/admin/dashboard"
              routerLinkActive="active-link">Dashboard</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link text-dark text-scroll" routerLink="/admin/unidades"
              routerLinkActive="active-link">Unidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-2 text-dark text-scroll" routerLink="/admin/proveedores"
              routerLinkActive="active-link">Proveedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-2 text-dark text-scroll" routerLink="/admin/insumos"
              routerLinkActive="active-link">Insumos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-2 text-dark text-scroll" routerLink="/admin/compras"
              routerLinkActive="active-link">Compras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 text-dark text-scroll" routerLink="/admin/productos"
              routerLinkActive="active-link">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-2 text-dark text-scroll" routerLink="/admin/cotizaciones"
              routerLinkActive="active-link">Cotizaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 text-dark text-scroll" routerLink="/admin/ventas"
              routerLinkActive="active-link">Ventas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-2 text-dark text-scroll" routerLink="/admin/comentarios"
              routerLinkActive="active-link">Comentarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3 text-dark text-scroll" routerLink="/admin/users"
              routerLinkActive="active-link">Usuarios</a>
          </li>
        </ul>
        
        <!-- Botones de usuario -->
        <div class="d-flex align-items-center flex-shrink-0 me-1">
          <!-- Botón Iniciar Sesión -->
          <button data-mdb-ripple-init data-mdb-ripple-color="dark" type="button"
            class="btn btn-outline-primary btn-scroll me-3" *ngIf="!auth.isAuthenticated()" routerLink="/login">
            Iniciar sesión
          </button>

          <!-- BOTÓN CERRAR SESIÓN -->
          <div class="dropdown" *ngIf="auth.isAuthenticated()">
            <button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button"
              id="dropdownUserButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle fs-5 me-1"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownUserButton">
              <li>
                <a class="dropdown-item" routerLink="/perfil">
                  <i class="bi bi-person me-2"></i> Perfil
                </a>
              </li>
              <li>
                <button class="dropdown-item" (click)="auth.logout()">
                  <i class="bi bi-box-arrow-right me-2"></i> Cerrar sesión
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>